In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')
pd.set_option('Display.max_columns',100)
pd.set_option('Display.max_rows',100)

In [2]:
path    = "../final_assignment_public/Telecom_customer_churn.csv"
df      = pd.read_csv( path )

print( 'df:\n{} rows × {} columns\n'.format( df.shape[0], df.shape[1] ) )

df:
100000 rows × 100 columns

In [3]:
df = df[['rev_Mean', 'totmrc_Mean', 'churn']]
df

       rev_Mean  totmrc_Mean  churn
0       23.9975       22.500      1
1       57.4925       37.425      0
2       16.9900       16.990      1
3       38.0000       38.000      0
4       55.2300       71.980      0
...         ...          ...    ...
99995       NaN          NaN      1
99996       NaN          NaN      0
99997       NaN          NaN      0
99998       NaN          NaN      0
99999       NaN          NaN      1

[100000 rows x 3 columns]

In [7]:
display(
    df.groupby('churn')['rev_Mean'].mean(),
    df.groupby('churn')['totmrc_Mean'].mean()
)

churn
0    59.218692
1    58.211074
Name: rev_Mean, dtype: float64

churn
0    47.782378
1    44.543091
Name: totmrc_Mean, dtype: float64

In [8]:
df = df.fillna(0)

In [40]:
sum_of_rev_Mean = df.groupby('churn')['rev_Mean'].sum()[1]
sum_of_totmrc_Mean = df.groupby('churn')['totmrc_Mean'].sum()[1]

# 解約者に対する請求額の合計(損失額の合計)
sum_of_charge = sum_of_rev_Mean + sum_of_totmrc_Mean

print( 'sum_of_rev_Mean:\t', sum_of_rev_Mean )
print( 'sum_of_totmrc_Mean:\t', sum_of_totmrc_Mean )
print( 'sum_of_charge:\t\t', sum_of_charge )

sum_of_rev_Mean:	 2870795.533333632
sum_of_totmrc_Mean:	 2196731.6324998485
sum_of_charge:		 5067527.165833481

In [41]:
df['tot_charge_Mean'] = df['rev_Mean'] + df['totmrc_Mean']
df

       rev_Mean  totmrc_Mean  churn
0       23.9975       22.500      1
1       57.4925       37.425      0
2       16.9900       16.990      1
3       38.0000       38.000      0
4       55.2300       71.980      0
...         ...          ...    ...
99995    0.0000        0.000      1
99996    0.0000        0.000      0
99997    0.0000        0.000      0
99998    0.0000        0.000      0
99999    0.0000        0.000      1

[100000 rows x 3 columns]